*{
    margin: 0;
    padding: 0;
}

@media (max-width: 1024px) {
    .sponsor-logo{
        overflow-x: scroll;
    }
    .about-con button span{
        font-size: 20px;
    }
    .aboutcon-flex{
        overflow-x: scroll;
        gap: 32px;
    }
    .aboutcon-flex::-webkit-scrollbar{
        display: none;
    }
    .servicecontent{
        gap: 4rem;
    }
    .service-text{
        gap: 1rem;
    }
}

@media (max-width:840px) {
    .hero-section h1{
        font-size: 60px;
        font-weight: 400;
        line-height: 3.5rem;
    }
    #arright, #arleft{
        width: 92px;
    }
    .logo img{
        width: 23px;
        
        height: 22px;
    }
    .logo h1{
        font-size: 20px;
    }
    nav{
        gap: 24px;
    }
    form[method=get]{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        background: #191919;
        position: relative;
        width: 80%;
        margin: auto;
        margin-block: 40px;
    }
    form[method=get] button{
        top: 68px;
        right: 30px;
    }
    .sponsor-logo{
        overflow-x: scroll;
    }
    .sponsor-logo::-webkit-scrollbar{
        display: none;
    }
    .sponsor-logo img{
        height: 140px;
    }
    
    .sponsor-logo img:nth-child(1){
        width: 136px;
    }
    .sponsor-logo img:nth-child(2){
        width: 136px;
    }
    .sponsor-logo img:nth-child(3){
        width: 280px;
    }
    .sponsor-logo img:nth-child(4){
        width: 240px;
    }
    .sponsor-logo img:nth-child(5){
        width: 136px;
    }
    .about{
        padding-block: 64px;
    }
    .about h3{
        font-size: 16px;
        font-weight: 400;
    }
    .about p{
        padding-block: 40px;
        font-size: 24px;
        font-weight: 400;
    }
    .about svg{
        width: 30px;
        height: 25px;
    }
    .about p span{
        padding: 4px 8px;
        font-size: 16px;
    }
    .aboutcon-flex{
        overflow-x: scroll;
        gap: 20px;
    }
    .aboutcon-flex::-webkit-scrollbar{
        display: none;
    }
    .aboutcontext p{
        padding-block: 4px 0;
        font-size: 14px;
        font-weight: 400;
    }
    .aboutcontext h4{
        padding-block: 8px 0;
        font-size: 24px;
        font-weight: 500;
    }
    .about-con{
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
    }
    .about-con button span{
        font-size: 14px;
    }
    .servicecol{
        padding-top: 40px;
    }
    .service h3{
        font-size: 16px;
        font-weight: 400;
    }
    .servicecontent{
        gap: 4rem;
    }
    .servicecontent span{
        font-size: 20px;
    }
    .service-text p:nth-child(1){
        width: 100%;
        font-size: 36px;
    }
    .service-text p:nth-child(2){
        width: 100%;
        font-size: 16px;
    }
    .service-text{
        flex-direction: column;
        gap: 1rem;
        text-align: left;
    }
    .newsform form{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }
    .newsform h3{
        font-size: 32px;
    }
    footer form{
        display: grid;
        grid-template-columns: auto;
        width: 100%;
    }
    footer form button:nth-child(1){
        grid-column: 1;
        padding: 36px 10px;
        font-size: 24px;
    }
    footer form button:nth-child(2), footer form button:nth-child(3){
        padding: 28px 10px;
    }
    footer form button p{
        font-size: 24px;
    }
}

@media (max-width: 600px) {
    .hero-section h1{
        font-size: 40px;
        font-weight: 400;
        line-height: 2.5rem;
    }
    #arright, #arleft{
        width: 52px;
    }
    nav{
        display: none;
    }
    header img{
        display: block;
    }
    form[method=get]{
        margin: auto;
        width: 84%;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        background: transparent;
    }
    .formcontent input{
        max-width: 152px;
    }
    form[method=get] button{
        display: none;
    }
    .sponsor-logo{
        padding: 16px 40px;
        background: transparent;
        gap: 24px;
    }
    .sponsor-logo img{
        height: 92px;
    }
    .sponsor-logo img:nth-child(1){
        width: 91px;
    }
    .sponsor-logo img:nth-child(2){
        width: 91px;
    }
    .sponsor-logo img:nth-child(3){
        width: 191px;
    }
    .sponsor-logo img:nth-child(4){
        width: 160px;
    }
    .sponsor-logo img:nth-child(5){
        width: 91px;
    }
    .aboutcon-flex{
        overflow-x: scroll;
        gap: 32px;
    }
    .aboutcon-flex::-webkit-scrollbar{
        display: none;
    }
    .about{
        padding-block: 48px 16px;
    }
    .about svg{
        width: 20px;
        height: 20px;
    }
    .service{
        padding-block: 48px 16px;
    }
    .servicecontent{
        justify-content: space-between;
        gap: 1.5rem;
    }
    .newsform h3{
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
    }
    .newsform form{
        flex-direction: column;
    }
    .newsform .inputform input{
        width: 200px;
    }
    footer form{
        display: grid;
        grid-template-columns: auto;
        width: 100%;
    }
    footer form button:nth-child(1){
        grid-column: 1;
        padding: 30px 10px;
        font-size: 20px;
    }
    footer form button:nth-child(2), footer form button:nth-child(3){
        padding: 25px 10px;
    }
    footer form button p{
        font-size: 20px;
    }
    footer h3{
        color: #FFFFFF;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .footercontent{
        flex-direction: column;
        align-items: normal;
        gap: 100px;
    }
    .footcon-flex{
        justify-content: space-between;
    }
}