*{
    margin: 0;
    padding: 0;
}

/* @media (max-width: 2560px) {
    .aboutcontext{
        width: 700px;
    }
    .about-con{
        width: 700px;
    }
    .aboutcon-flex img{
        width: 700px;
    }
} */

@media (max-width: 1024px) {
    nav{
        gap: 64px;
    }
    .hero-section h1{
        font-size: 80px;
        line-height: 5rem;
    }
    .about-con button span{
        font-size: 20px;
    }
    .aboutcon-flex{
        overflow-x: scroll;
        gap: 32px;
    }
    .aboutcon-flex::-webkit-scrollbar{
        display: none;
    }
    .aboutcontext h4{
        font-size: 24px;
    }
    .aboutcontext p{
        font-size: 14px;
    }
    .servicecontent{
        gap: 4rem;
    }
    .service-text{
        gap: 1rem;
    }
    .latestnews #plus-sign{
        top: 430px;
    }
    footer form button:nth-child(1){
        font-size: 28px;
        color: #FFFFFF;
    }
    footer form button p{
        font-size: 24px;
        color: #FFFFFF;
    }
    footer form button img{
        width: 28px;
    }
        /* ---------------------------------Country----------------------------------- */
        .countrycontent{
            display: flex;
            flex-direction: column-reverse;
            align-items: normal;
            gap: 36px;
            margin-block: 40px 0px;
        }
        .countext p:nth-child(1){
            flex-basis: 25%;
        }
        
        .countext p:nth-child(2){
            flex-basis: 75%;
            border-bottom: 1px solid #D9D9D9;
            padding-bottom: 28px;
        }
        .user{
            gap: 16px;
            padding: 6px;
        }
        .user img:nth-child(1){
            width: 24px;
        }
        .user img:nth-child(2){
            width: 12px;
            padding-inline: 4px;
        }
        aside{
            display: none;
            position: absolute;
            width: 200px;
        }
        aside > img{
            display: block;
        }
        aside ul{
            padding-left: 16px;
        }
        aside ul li a{
            padding: 4px 8px;
        }
        aside ul a{
            padding: 4px 8px;
        }
        #table{
            width: 84%;
            margin: auto;
            padding-inline: 0px;
            overflow-x: scroll;
        }
        table{
            width: 1087px;
        }
}




@media (max-width:840px) {
    .hero-section h1{
        font-size: 60px;
        font-weight: 400;
        line-height: 3.5rem;
    }
    .logo img{
        width: 23px;
        
        height: 22px;
    }
    .logo span{
        font-size: 20px;
    }
    nav{
        position: absolute;
        top: 0%;
        display: block;
        background: #191919;
        right: 0%;
        width: 100%;
        padding: 40px 80px;
        box-sizing: border-box;
        z-index: 2;
        display: none;
        transition: 0.5s;
    }
    nav img{
        width: 24px;
        display: block;
        margin-block: 0px 60px;
        cursor: pointer;
    }
    nav ul{
        background: transparent;
        padding: 0px;
        flex-direction: column;
    }
    .btn{
        flex-direction: column;
        margin-block-start: 40px;
        align-items: normal;
        width: 40%;
    }
    .btn button:nth-child(1), .btn button:nth-child(2){
        padding-block: 16px;
        background: #1D956A;
    }
    .btn button:nth-child(1):hover, .btn button:nth-child(2):hover{
        background: #0a6143;
    }
    header img{
        display: block;
        width: 24px;
        cursor: pointer;
    }
    .scrollimage {
        width: 90%;
        margin: auto;
    }
    form[method=get]{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        background: #191919;
        position: relative;
        width: 80%;
        margin: auto;
        margin-block: 40px;
    }
    form[method=get] button[type=submit]{
        top: 68px;
        right: 30px;
    }
    .sponsor-logo{
        background: transparent;
    }
    .sponsor-logo img{
        height: 140px;
    }
    .sponsor-logo img:nth-child(1){
        width: 136px;
    }
    .sponsor-logo img:nth-child(2){
        width: 136px;
    }
    .sponsor-logo img:nth-child(3){
        width: 280px;
    }
    .sponsor-logo img:nth-child(4){
        width: 240px;
    }
    .sponsor-logo img:nth-child(5){
        width: 136px;
    }
    .about{
        padding-block: 64px;
    }
    .about h3{
        font-size: 16px;
        font-weight: 400;
    }
    .about p{
        padding-block: 20px 40px;
        font-size: 20px;
        font-weight: 400;
    }
    .about svg{
        width: 30px;
        height: 25px;
    }
    .about p span{
        padding: 4px 8px;
        font-size: 16px;
    }
    .aboutcon-flex{
        overflow-x: scroll;
        gap: 20px;
    }
    .aboutcon-flex::-webkit-scrollbar{
        display: none;
    }
    .aboutcontext p{
        padding-block: 4px 0;
        font-size: 14px;
        font-weight: 400;
    }
    .aboutcontext h4{
        padding-block: 8px 0;
        font-size: 24px;
        font-weight: 500;
    }
    .about-con{
        gap: 16px;
    }
    .about-con button span{
        font-size: 14px;
    }
    .servicecol{
        padding-top: 40px;
    }
    .service h3{
        font-size: 16px;
        font-weight: 400;
    }
    .servicecontent{
        gap: 4rem;
    }
    .servicecontent span{
        font-size: 20px;
    }
    .service-text p:nth-child(1){
        width: 100%;
        font-size: 36px;
    }
    .service-text p:nth-child(2){
        width: 100%;
        font-size: 16px;
    }
    .service-text{
        flex-direction: column;
        gap: 1rem;
        text-align: left;
    }
    .destination h3{
        font-size: 16px;
    }
    .destgrid{
        gap: 16px;
        margin-block: 36px;
    }
    .destinationcontent{
        width: 392px;
        padding: 14px;
        border-radius: 4px;
    }
    .destinationcontent img{
        width: 364px;
    }
    .desthead h4{
        font-size: 16px;
        font-weight: 700;
    }
    .desthead .star svg{
        width: 13px;
    }
    .destinationcontent span svg{
        width: 14px;
    }
    .dest-icon p{
        font-size: 12px;
    }
    .destinationcontent p{
        font-size: 13px;
        font-weight: 500;
    }
    .destcon p{
        font-size: 18px;
    }
    .destcon button{
        font-size: 16px;
    }
    .destarrow{
        margin-top: 28px;
    }
    .destarrow img{
        width: 44px;
    }
    .review h3{
        font-size: 16px;
    }
    .reviewcontent{
        width: 420px;
        padding: 24px;
    }
    .revhead .staricon svg{
        width: 14px;
    }
    .revhead .clientdetails{
        align-items: start;
        gap: 8px;
    }
    .clientdetails img{
        width: 44px;
    }
    .clientdetails h4{
        font-size: 18px;
    }
    .clientdetails p{
        font-size: 14px;
    }
    .reviewcontent h5{
        font-size: 16px;
        padding-block: 24px 12px;
    }
    .latestnews #plus-sign{
        top: 376px;
        width: 168px;
    }
    .newsform{
        padding: 88px 68px;
    }
    .newsform form{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        margin-block-start: 40px;
    }
    .newsform h3{
        font-size: 32px;
    }
    .newsform #plane{
        width: 116px;
    }
    .newsform .input-form input{
        padding: 20px 68px;
        font-size: 16px;
    }
    .input-form img{
        top: 18px;
        width: 24px;
    }
    .newsform form button{
        padding: 20px 50px;
        font-size: 16px;
        width: 100%;
    }
    footer h3{
        font-size: 40px;
    }
    footer form{
        display: grid;
        grid-template-columns: auto;
        width: 100%;
    }
    footer form button:nth-child(1){
        grid-column: 1;
        padding: 36px 10px;
        font-size: 24px;
        color: #FFFFFF;
    }
    footer form button:nth-child(2), footer form button:nth-child(3){
        padding: 28px 10px;
    }
    footer form button p{
        font-size: 24px;
        color: #FFFFFF;
    }
    footer form button img{
        width: 32px;
    }
    footer img{
        width: 56px;
    }
    /* -------------------------------------Destination------------------------------------- */
    .destinationgrid{
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-top: 40px;
    }
    .layer{
        height: 80%;
    }
    .layer p{
        font-size: 16px;
        padding: 36px 0px;
        width: 116px;
        height: 116px;
    }
    .layer:hover p{
        bottom: 28%;
    }
    /* ---------------------------------Country----------------------------------- */
    .destinationcontent .layer{
        height: 69%;
    }
    .destinationcontent .layer p{
        font-size: 16px;
        padding: 48px 0px;
    }
    .destinationcontent .layer:hover p{
        bottom: 27%;
    }
    .destbtn button{
        padding: 12px 32px;
    }
    .bookinggrid{
        display: flex;
        flex-direction: column-reverse;
        gap: 32px;
    }
    .bookinggrid > img{
        height: 448px;
    }
    .bookcontent > img{
        top: -1.8%;
        left: 48%;
        width: 40px;
    }
}





@media (max-width: 600px) {
    .hero-section{
        width: 100%;
        padding-block: 20px;
    }
    .hero-section h1{
        font-size: 40px;
        font-weight: 400;
        line-height: 2rem;
        width: 86%;
        margin: auto;
    }
    nav{
        padding: 40px 60px;
    }
    .scrollimage {
        width: 80%;
        margin: auto;
    }
    form[method=get]{
        margin: auto;
        width: 84%;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        background: transparent;
        padding-inline: 24px 24px;
    }
    form[method=get] #subtn{
        background: #1D956A;
        display: flex;
        justify-content: space-between;
        align-items: center;
        outline: none;
        border: none;
        padding: 8px 24px;
        border-radius: 8px;
        margin-top: 36px;
    }
    form[method=get] button p{
        font-size: 13px;
        font-weight: 500;
        color: #FFFFFF;
    }
    .formcontent input{
        max-width: 152px;
    }
    form[method=get] button{
        display: none;
    }
    .sponsor-logo img{
        height: 92px;
    }
    .sponsor-logo img:nth-child(1){
        width: 91px;
    }
    .sponsor-logo img:nth-child(2){
        width: 91px;
    }
    .sponsor-logo img:nth-child(3){
        width: 191px;
    }
    .sponsor-logo img:nth-child(4){
        width: 160px;
    }
    .sponsor-logo img:nth-child(5){
        width: 91px;
    }
    .aboutcon-flex{
        overflow-x: scroll;
        gap: 32px;
        margin-top: 20px;
    }
    .aboutcon-flex::-webkit-scrollbar{
        display: none;
    }
    .aboutcontext img{
        width: 300px;
    }
    .about-con{
        width: 300px;
    }
    .about-con button{
        display: none;
    }
    .about #abobtn{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 32px;
        border-radius: 16px;
        border: none;
        outline: none;
        background: #1D956A;
        color: #FFFFFF;
        gap: 16px;
    }
    .aboutcontext{
        width: 300px;
    }
    .about{
        padding-block: 48px 16px;
    }
    .about p{
        font-size: 15px;
    }
    .about p span{
        font-size: 12px;
        padding: 2px 4px;
    }
    .about svg{
        width: 14px;
        height: 14px;
    }
    .service{
        width: 100%;
        padding-block: 48px 16px;
    }
    .service h3{
        width: 84%;
        margin: auto;
    }
    .servicecontent{
        padding-inline: 20px;
        justify-content: space-between;
        gap: 1.5rem;
    }
    .destination{
        width: 100%;
    }
    .destination h3{
        width: 84%;
        margin: auto;
        font-size: 16px;
    }
    .destgrid{
        gap: 16px;
        margin-block: 28px;
        padding-inline: 12px;
    }
    .destgrid::-webkit-scrollbar{
        display: none;
    }
    .destinationcontent{
        width: 320px;
        padding: 12px;
        border-radius: 4px;
    }
    .destinationcontent img{
        width: 296px;
    }
    .desthead h4{
        font-size: 16px;
        font-weight: 700;
    }
    .desthead .star svg{
        width: 12px;
    }
    .destinationcontent span svg{
        width: 12px;
    }
    .dest-icon p{
        font-size: 10px;
    }
    .destinationcontent p{
        font-size: 10px;
        font-weight: 500;
        margin-block: 6px;
    }
    .destcon p{
        font-size: 14px;
    }
    .destcon button{
        font-size: 12px;
        padding: 6px 16px;
    }
    .destarrow{
        gap: 60px;
        margin-top: 60px;
        padding-inline: 40px;
    }
    .destarrow img{
        width: 40px;
    }
    .review{
        width: 100%;
        padding-block: 40px;
    }
    .review h3{
        font-size: 16px;
    }
    .revgrid{
        gap: 12px;
        padding-inline: 12px;
    }
    .reviewcontent{
        width: 300px;
        padding: 20px;
    }
    .revhead .staricon svg{
        width: 8px;
    }
    .revhead .clientdetails{
        align-items: start;
        gap: 8px;
    }
    .clientdetails img{
        width: 32px;
    }
    .clientdetails h4{
        font-size: 14px;
    }
    .clientdetails p{
        font-size: 12px;
    }
    .reviewcontent h5{
        font-size: 13px;
        padding-block: 12px 8px;
    }
    .reviewcontent p{
        font-size: 10px;
    }
    .reviewarrow{
        padding-top: 40px;
    }
    .reviewarrow img{
        width: 16px;
    }
    .latestnews #plus-sign{
        top: 252px;
        width: 114px;
    }
    .newsform{
        padding: 56px 36px;
        border-top-left-radius: 88px;
        margin-block: 60px;
    }
    .newsform h3{
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
    }
    .newsform form{
        flex-direction: column;
        gap: 16px;
    }
    .newsform .inputform input{
        width: 200px;
    }
    .newsform #plane{
        top: -32px;
        right: 8px;
        width: 47px;
    }
    .newsform .input-form input{
        padding: 16px;
    }
    .input-form img{
        display: none;
    }
    .newsform form button{
        padding: 16px 56px;
    }
    footer form{
        display: grid;
        grid-template-columns: auto;
        width: 100%;
    }
    footer form button:nth-child(1){
        grid-column: 1;
        padding: 30px 10px;
        font-size: 20px;
    }
    footer form button:nth-child(2), footer form button:nth-child(3){
        padding: 25px 10px;
    }
    footer form button p{
        font-size: 20px;
    }
    footer form button img{
        width: 24px;
    }
    footer h3{
        color: #FFFFFF;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .footercontent{
        flex-direction: column;
        align-items: normal;
        gap: 40px;
        margin-block: 40px;
    }
    .footcon-flex{
        justify-content: space-between;
    }
    .footcon{
        display: grid;
        gap: 16px;
    }
    .footcon p{
        font-size: 15px;
    }
    .footercontent ul li a{
        font-size: 18px;
    }
    .foot p{
        font-size: 15px;
    }
    footer img{
        width: 40px;
        margin-bottom: 40px;
    }
    /* -------------------------------------Destination------------------------------------- */
    .destinationgrid{
        grid-template-columns: repeat(6, 1fr);
        overflow-x: scroll;
    }
    .destinationgrid::-webkit-scrollbar{
        display: none;
    }
    .destcountry, .destcountry img{
        width: 268px;
    }
    .dest .destheading h1{
        font-size: 36px;
        line-height: 2rem;
        margin-bottom: 20px;
    }
    .dest p{
        font-size: 20px;
        width: 80%;
        margin: auto;
    }
    .layer{
        height: 78%;
    }
    .layer p{
        font-size: 16px;
        padding: 26px 0px;
        width: 100px;
        height: 100px;
    }
    .layer:hover p{
        bottom: 30%;
    }
    /* ---------------------------------Country----------------------------------- */
    .countext{
        flex-direction: column;
        gap: 8px;
    }
    .countheading h3{
        font-size: 36px;
        line-height: 2rem;
    }
    .countext p:nth-child(1){
        flex-basis: 100%;
        color: #1D956A;
    }
    .countext p:nth-child(2){
        flex-basis: 100%;
        border-bottom: none;
        padding-bottom: 0px;
    }
    .destinationcontent .layer{
        height: 69%;
    }
    .destinationcontent .layer p{
        padding: 39px 0px;
    }
    .destinationcontent .layer:hover p{
        bottom: 26%;
    }
    .destbtn button{
        padding: 8px 20px;
    }
    .bookcontent > img{
        top: -2.5%;
        left: 44%;
    }
    .bookinggrid > img{
        display: none;
    }
    .bookingform form{
        grid-template-columns: auto;
    }
    .bookingform form label{
        width: 100%;
        font-size: 12px;
    }
    .bookingform form input{
        padding-inline: 12px;
        padding-block: 0px 8px;
        width: 240px;
    }
    .checkout p{
        font-size: 16px;
    }
    .checkout button{
        padding: 8px 16px;
        font-size: 12px;
    }
}