@import url('https://fonts.cdnfonts.com/css/satoshi');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #111111;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84%;
    margin: auto;
    padding: 20px 0;
}

.logo{
    display: flex;
    align-items: center;
    font-family: 'Trench Slab', sans-serif;
    color: #FFFFFF;
    gap: 16px;
}

.logo img{
    display: block;
}

nav{
    display: flex;
    align-items: center;
    gap: 96px;
}

nav ul{
    display: flex;
    gap: 24px;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Satoshi', sans-serif;
}

.btn{
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: 'Satoshi', sans-serif;
}

button{
    cursor: pointer;
}

.btn button{
    padding: 8px 16px;
    color: #FFFFFF;
    border-radius: 4px;
}

.btn button:nth-child(1){
    background: transparent;
    border: none;
}
.btn button:nth-child(2){
    background: transparent;
    border: 1px solid #191919;
}

header img{
    display: none;
}

section{
    font-family: 'Satoshi', sans-serif;
}

.sponsor-logo{
    background: #191919;
    padding: 16px 0;
    display: grid;
    grid-template-columns: repeat(5, auto);
    place-items: center;
}

.sponsor-logo img{
    width: 100%;
    height: 100%;
    max-height: 171px;
}

.sponsor-logo img:nth-child(1){
    max-width: 169px;
}
.sponsor-logo img:nth-child(2){
    max-width: 171px;
}
.sponsor-logo img:nth-child(3){
    max-width: 318px;
}
.sponsor-logo img:nth-child(4){
    max-width: 269px;
}
.sponsor-logo img:nth-child(5){
    max-width: 167px;
}

.about{
    width: 84%;
    margin: auto;
    padding-block: 96px;
    color: #E6EAEE;
}

.about h3{
    font-size: 40px;
    font-weight: 400;
}

.about p{
    padding-block: 96px;
    font-size: 48px;
    font-weight: 400;
}

.about p span{
    background: #1D956A;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 32px;
}

.aboutcon-flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.aboutcon-flex img{
    max-width: 397px;
    width: 100%;
}

.aboutcontext p{
    padding-block: 8px 0;
    font-size: 20px;
    font-weight: 400;
}

.aboutcontext h4{
    padding-block: 16px 0;
    font-size: 34px;
    font-weight: 500;
}

.about-con{
    display: grid;
    gap: 16px;
    /* max-width: 397px; */
    /* width: 100%; */
}

.about-con button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    border-radius: 16px;
    border: none;
    outline: none;
    background: #1D956A;
    color: #FFFFFF;
}

.service{
    width: 84%;
    margin: auto;
    color: #E6EAEE;
    padding-block: 60px;
}

.service h3{
    font-size: 40px;
    font-weight: 400;
}

.servicecol{
    padding-top: 68px;
}

.servicecontent{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 0;
    text-align: left;
}

.servicecontent p{
    width: 40%;
    font-size: 32px;
    font-weight: 400;
}

.servicecontent:nth-child(1){
    border-top: 2px solid #808080;
}

.servicecontent:nth-child(2){
    border-top: 2px solid #808080;
    border-bottom: 2px solid #808080;
}

.servicecontent:nth-child(3){
    border-bottom: 2px solid #808080;
}

.service-text{
    display: flex;
    align-items: start;
    gap: 6rem;
}

.service-text span{
    font-size: 36px;
    color: #1D956A;
}

.service-text p{
    font-size: 60px;
    font-weight: 400;
    width: 79%;
}