@import url('https://fonts.cdnfonts.com/css/satoshi');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #111111;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84%;
    margin: auto;
    padding: 20px 0;
}

.logo{
    display: flex;
    align-items: center;
    font-family: 'Trench Slab', sans-serif;
    color: #FFFFFF;
    gap: 16px;
}

.logo img{
    display: block;
}

.logo span{
    font-size: 24px;
}

nav{
    display: flex;
    align-items: center;
    gap: 180px;
}

nav ul{
    display: flex;
    gap: 24px;
    background: #191919;
    padding: 16px 28px;
    border-radius: 4px;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Satoshi', sans-serif;
}

.btn{
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: 'Satoshi', sans-serif;
}

button{
    cursor: pointer;
}

.btn button{
    padding: 8px 16px;
    color: #FFFFFF;
    border-radius: 4px;
}

.btn button:nth-child(1){
    background: transparent;
    border: none;
}
.btn button:nth-child(2){
    background: transparent;
    border: 1px solid #191919;
}

header img{
    display: none;
}

section{
    font-family: 'Satoshi', sans-serif;
}

.hero-section{
    width: 86%;
    margin: auto;
    padding-block: 40px;
}

.hero-section h1{
    font-size: 120px;
    font-weight: 400;
    text-align: center;
    line-height: 7rem;
    color: #FFFFFF;
    padding-block: 0px 40px;
}

.hero-section h1 span{
    color: #1D956A;
}

.scrollimage{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagecarousel img{
    border-radius: 20px;
    width: 100%;
    max-width: 826px;
}

form[method=get]{
    margin-inline: 48px 72px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    background: #191919;
    border-radius: 16px;
    padding-block: 20px;
    padding-inline: 32px 96px;
    margin-block: 40px;
}

.formcontent{
    display: grid;
    gap: 16px;
    font-family: 'Satoshi', sans-serif;
}

.formcontent label{
    color: #B3B3B3;
}

.formcontent select{
    background: transparent;
    padding-block: 12px;
    padding-inline: 8px 20px;
    border-radius: 8px;
    color: #B3B3B3;
    width: 100%;
    max-width: 200px;
}

.formcontent input{
    background: transparent;
    padding-block: 12px;
    padding-inline: 8px;
    border-radius: 8px;
    color: #B3B3B3;
    border: 1px solid #B3B3B3;
    max-width: 168px;
}

form[method=get] button[type=submit]{
    background: #1D956A;
    outline: none;
    border: none;
    padding: 20px 8px;
    border-radius: 8px;
    position: absolute;
    right: 48px;
}

form[method=get] #subtn{
    display: none;
}

.sponsor-logo{
    background: #191919;
    padding: 16px 60px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    place-items: center;
    gap: 16px;
}

.sponsor-logo img:nth-child(1){
    border: 1px solid #808080;
    border-radius: 100px;
}
.sponsor-logo img:nth-child(2){
    border: 1px solid #808080;
    border-radius: 100px;
}
.sponsor-logo img:nth-child(3){
    border: 1px solid #808080;
    border-radius: 100px;
}
.sponsor-logo img:nth-child(4){
    border: 1px solid #808080;
    border-radius: 100px;
}
.sponsor-logo img:nth-child(5){
    border: 1px solid #808080;
    border-radius: 100px;
}

.about{
    width: 84%;
    margin: auto;
    padding-block: 96px;
    color: #E6EAEE;
}

.about h3{
    font-size: 40px;
    font-weight: 400;
}

.about p{
    padding-block: 96px;
    font-size: 48px;
    font-weight: 400;
}

.about p span{
    background: #1D956A;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 32px;
}

.aboutcon-flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.aboutcontext img{
    width: 360px;
}

.about-con{
    width: 360px;
}

.aboutcontext p{
    padding-block: 8px 0;
    font-size: 20px;
    font-weight: 400;
}

.aboutcontext h4{
    padding-block: 16px 0;
    font-size: 34px;
    font-weight: 500;
}

.about-con{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 360px;
}

.about-con button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    border-radius: 16px;
    border: none;
    outline: none;
    background: #1D956A;
    color: #FFFFFF;
}

.about-con button span{
    font-size: 30px;
}

.service{
    width: 84%;
    margin: auto;
    color: #E6EAEE;
    padding-block: 60px;
}

.service h3{
    font-size: 40px;
    font-weight: 400;
}

.servicecol{
    padding-top: 68px;
}

.servicecontent{
    display: flex;
    align-items: flex-start;
    gap: 10rem;
    padding: 24px 0;
    text-align: left;
}

.servicecontent span{
    font-size: 36px;
    color: #1D956A;
}

.servicecontent:nth-child(1){
    border-top: 2px solid #808080;
}

.servicecontent:nth-child(2){
    border-top: 2px solid #808080;
    border-bottom: 2px solid #808080;
}

.servicecontent:nth-child(3){
    border-bottom: 2px solid #808080;
}

.service-text{
    display: flex;
    align-items: start;
    gap: 3rem;
}

.service-text p:nth-child(1){
    font-size: 60px;
    font-weight: 400;
    width: 55%;
}

.service-text p:nth-child(2){
    width: 40%;
    font-size: 32px;
    font-weight: 400;
}

.destination{
    width: 84%;
    margin: auto;
    padding-block: 60px;
}

.destination h3{
    font-size: 40px;
    font-weight: 400;
    color: #E6EAEE;
}

.destgrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    overflow-x: scroll;
    margin-block: 72px;
}

.destgrid::-webkit-scrollbar{
    display: none;
}

.destinationcontent{
    background: #191919;
    width: 452px;
    padding: 16px 18px;
    border-radius: 8px;
    box-sizing: border-box;
}

.destinationcontent img{
    width: 418px;
}

.desthead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desthead h4{
    font-size: 34px;
    font-weight: 500;
    color: #E6EAEE;
}

.desthead .star{
    display: flex;
    gap: 2px;
}

.destinationcontent span{
    display: flex;
    align-items: center;
    gap: 8px;
}

.dest-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dest-icon p{
    font-size: 16px;
    font-weight: 500;
    color: #D9D9D9;
}

.destinationcontent p{
    font-size: 16px;
    font-weight: 400;
    color: #B3B3B3;
    margin-block: 8px;
}

.destinationcontent .destcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destcon p{
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}

.destcon button{
    padding: 12px 16px;
    border-radius: 4px;
    outline: none;
    border: none;
    background: #1D956A;
    color: #FAFAFA;
}

.destarrow{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 60px;
    margin-top: 60px;
}

.destarrow img{
    width: 60px;
}

.review{
    width: 84%;
    margin: auto;
    padding-block: 72px;
}

.review h3{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}

.revgrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    overflow-x: scroll;
    padding-top: 60px;
}

.revgrid::-webkit-scrollbar{
    display: none;
}

.reviewcontent{
    width: 460px;
    padding: 28px;
    background: #191919;
    border-radius: 8px;
    box-sizing: border-box;
    color: #FFFFFF;
}

.revhead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.revhead .clientdetails{
    display: flex;
    align-items: start;
    gap: 16px;
}

.clientdetails img{
    width: 72px;
}

.clientdetails h4{
    font-size: 24px;
    font-weight: 700;
}

.clientdetails p{
    font-size: 18px;
    font-weight: 400;
}

.reviewcontent h5{
    font-size: 24px;
    font-weight: 700;
    padding-block: 16px 8px;
}

.reviewcontent p{
    font-size: 18px;
    font-weight: 400;
}

.reviewarrow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
    padding-top: 68px;
}

.reviewarrow img{
    width: 24px;
}

.latestnews{
    position: relative;
}

.latestnews #plus-sign{
    position: absolute;
    top: 388px;
    right: 4px;
    float: right;
    width: 200px;
}

.newsform{
    background: #1D956A;
    width: 84%;
    margin-inline: auto;
    margin-block: 140px;
    z-index: 1;
    position: relative;
    border-top-right-radius: 24px;
    border-top-left-radius: 140px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    padding: 120px 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newsform #plane{
    position: absolute;
    top: -72px;
    right: -10px;
}

.newsform h3{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.newsform form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin: auto;
    width: 80%;
    margin-block-start: 68px;
}

.input-form{
    display: flex;
    position: relative;
    width: 100%;
}

.newsform .input-form input{
    padding: 24px 68px;
    border-radius: 12px;
    max-width: 500px;
    width: 100%;
    font-size: 20px;
    border: none;
    outline: none;
}

.input-form img{
    position: absolute;
    float: left;
    left: 36px;
    top: 24px;
    width: 24px;
}

.newsform form button{
    padding: 21px 56px;
    border-radius: 12px;
    font-size: 24px;
    border: none;
    outline: none;
    background: #111111;
    color: #FFFFFF;
}

footer{
    width: 84%;
    margin: auto;
    font-family: 'Satoshi', sans-serif;
}

.footlogo{
    display: grid;
    place-content: center;
}

footer h3{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 500;
    text-align: center;
    width: 70%;
    margin: auto;
}

footer form{
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: auto;
    width: 84%;
    margin-block: 60px;
    gap: 4px;
}

footer form button:nth-child(1){
    grid-column: span 2;
    background: #1D956A;
    border-radius: 100px;
    padding: 48px 0px;
    color: #FFFFFF;
    font-size: 40px;
    border: none;
    outline: none;
}

footer form button:nth-child(2), footer form button:nth-child(3){
    background: transparent;
    border: 1px solid #282828;
    border-radius: 100px;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: #FFFFFF;
}

footer form button p{
    font-size: 40px;
    color: #FFFFFF;
}

footer form button img{
    margin: 0;
    width: 52px;
}

.footercontent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 72px;
}

.footcon-flex{
    display: flex;
    align-items: center;
    gap: 44px;
}

.footcon{
    display: grid;
    gap: 28px;
}

.footcon p{
    color: #808080;
    font-size: 20px;
    font-weight: 400;
}

.footercontent ul li{
    list-style-type: none;
    margin-block: 8px;
}

.footercontent ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
}

footer img{
    display: flex;
    margin: 0 0 72px auto;
    width: 74px;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #5B5B5B;
    padding-block: 32px;
    color: #808080;
}

.foot p{
    font-size: 24px;
    font-weight: 400;
}